# Godot 4+ specific ignores
.godot/
/android/

# ignore media files
*.mp3
*.mp3.import
*.ogv
*.ogv.import
*.png
*.png.import

# exclude logo
!Fancy-Karaoke_Logo.png
!Fancy-Karaoke_Logo.png.import
!Fancy-Karaoke_Icon.png
!Fancy-Karaoke_Icon.png.import